In [1]:
import pandas as pd
import numpy as np

from ibapi.client import EClient
from ibapi.wrapper import EWrapper
from ibapi.contract import Contract

import threading
import time

In [2]:
class IBapi(EWrapper, EClient):
    def __init__(self):
        EClient.__init__(self, self)
        
        self.data =  pd.DataFrame(columns=["Date", "Open", "High", "Low", "Close",'Volume'])
        
    def historicalData(self, reqId, bar): 

        df = pd.DataFrame([[bar.date, bar.open, bar.high, bar.low, bar.close, bar.volume]],
                          columns=["Date", "Open", "High", "Low", "Close", "Volume"])
        if bar.date not in list(self.data.Date):
            self.data = pd.concat([self.data,df])
            self.data.reset_index(drop=True,inplace=True)
            print(bar.date)

In [3]:
def run_loop():
    app.run()
    
app = IBapi()
app.connect('127.0.0.1', 7497,1123) #123 is a clientID


#Start the socket in a thread
api_thread = threading.Thread(target=run_loop, daemon=True)
api_thread.start()

time.sleep(1) #Sleep interval to allow time for connection to server

ERROR -1 2104 Market data farm connection is OK:usfarm.nj
ERROR -1 2104 Market data farm connection is OK:hfarm
ERROR -1 2104 Market data farm connection is OK:usfarm
ERROR -1 2106 HMDS data farm connection is OK:euhmds
ERROR -1 2106 HMDS data farm connection is OK:cashhmds
ERROR -1 2106 HMDS data farm connection is OK:hkhmds
ERROR -1 2106 HMDS data farm connection is OK:ushmds
ERROR -1 2106 HMDS data farm connection is OK:fundfarm
ERROR -1 2158 Sec-def data farm connection is OK:secdefhk

In [12]:
#Create contract object

obj = Contract() # contract() is a method in the contract class
obj.symbol = 'MARUTI' # name of the share
obj.secType = 'STK' #'STK' #type of the CALL FUT or STk
obj.exchange = 'NSE' #name of the exchange
obj.currency = 'INR' 
# obj.lastTradeDateOrContractMonth = '20240229'
# obj.strike = 22100
# obj.right = 'C'

In [13]:
obj

1568079880272: 0,MARUTI,OPT,20240229,10300,C,,NSE,,INR,,,False,,combo:

In [14]:
app.reqHistoricalData(1, obj, "","1 D", "1 min", "TRADES", 1, 1, False, [])
time.sleep(5)

ERROR 1 200 No security definition has been found for the request

In [7]:
app.data#.to_csv(r'C:\Users\Admin\Desktop\nifty_hourly_data2010-2023.csv', index=False)

                     Date      Open      High       Low     Close Volume
0      20231222  09:15:00  10049.85  10058.95  10037.95  10043.45     40
1      20231222  09:16:00  10046.75  10049.85   10031.3  10046.85    470
2      20231222  09:17:00  10042.45  10050.75  10036.15  10047.55    172
3      20231222  09:18:00  10050.35   10075.0   10050.3  10064.85    227
4      20231222  09:19:00  10067.35   10080.0   10065.7   10077.0    302
...                   ...       ...       ...       ...       ...    ...
22495  20240320  15:25:00  11931.35   11943.6   11929.4   11930.0    283
22496  20240320  15:26:00   11930.3   11931.6   11925.0   11930.0    228
22497  20240320  15:27:00  11925.85   11950.1   11925.8   11927.0    221
22498  20240320  15:28:00   11930.1   11944.8   11925.0  11936.75    235
22499  20240320  15:29:00  11936.35   11939.0   11925.0  11925.25    204

[22500 rows x 6 columns]

ERROR -1 1100 Connectivity between IBKR and Trader Workstation has been lost.
ERROR -1 1100 Connectivity between IBKR and Trader Workstation has been lost.
ERROR -1 1100 Connectivity between IBKR and Trader Workstation has been lost.
ERROR -1 1100 Connectivity between IBKR and Trader Workstation has been lost.
ERROR -1 1100 Connectivity between IBKR and Trader Workstation has been lost.
ERROR -1 1100 Connectivity between IBKR and Trader Workstation has been lost.
ERROR -1 1100 Connectivity between IBKR and Trader Workstation has been lost.
ERROR -1 1100 Connectivity between IBKR and Trader Workstation has been lost.
ERROR -1 1100 Connectivity between IBKR and Trader Workstation has been lost.
ERROR -1 1100 Connectivity between IBKR and Trader Workstation has been lost.
ERROR -1 1100 Connectivity between IBKR and Trader Workstation has been lost.
ERROR -1 1100 Connectivity between IBKR and Trader Workstation has been lost.
ERROR -1 1102 Connectivity between IBKR and Trader Workstation has been restored - data maintained. All data farms are connected: usfarm.nj; hfarm; usfarm; euhmds; cashhmds; hkhmds; fundfarm; ushmds; secdefhk.